*{
    margin: 0;
    padding: 0;
    font-family: 'Staatliches';
}

.navbar{
    background-color: #1B1B1B;
    opacity: 0.9;
    min-height: 100px;
}
    .dropdown-menu > li > a:hover{
        background-color: #020202;
    }
    .nav-item a:hover{
        text-decoration: underline;
    }
.footer{
    background-color: #020202;
}
.backpack-body{
    background-color: #020202;
    padding-top: 150px;
}
.arrival-text{
    font-size: 80px;
}
.carousel-item{
    background: #020202;
}
    .carousel-item img{
        max-width: 100%;
        height: auto;
    }
    .carousel-item img:hover{
        opacity: 0.5;
    }
    .carousel-item p{
        font-size: 70px;
    }
    .carousel-control-prev-icon{
        margin-right: 150px;
    }
    .carousel-control-next-icon{
        margin-left: 150px;
    }
    @media all and (max-width: 971px){
        .carousel-control-next-icon{
            margin-left: 0px;
        }
        .carousel-control-prev-icon{
            margin-right: 0px;
        }
    }
    .item a{
        font-size: 20px;
    }
    .item > a:hover{
        background-color: #020202;
    }
    .new-backpack{
        position: relative;
        width: 50%;
    }
        .bottom{
            transition: 0.5s ease;
            opacity: 0;
            position: absolute;
            bottom: -10%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            text-align: center;
        }
            .bottom button{
                background-color: white;
                padding: 20px;
                font-size: 20px;
                font-weight: bolder;
            }
        .new-backpack:hover .image {
            opacity: 0.3;
        }
        .new-backpack:hover .bottom {
            opacity: 1;
        }
.all-items{
    font-size: 70px;
}
    .all-items img{
        max-width: 100%;
        height: auto;
    }
.modal-title{
    margin-left: 180px;
    font-size: 30px;
}
    .modal-body img{
        height: 200px;
        width: 200px;
    }
    .modal-body button:hover{
        background-color: #020202;
    }
    .modal-footer button:hover{
        background-color: #020202;
    }
    .modal-body input{
        max-width: 120px;
        border: 2px solid black;
    }
    .modal-body button{
        max-width: 150px;
    }

